# Python
*.pyc
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.venv/

#Environment variables
.env

# Database
db.sqlite3

# Media
media/*
!media/.gitkeep

# Logs
logs/*
!logs/.gitkeep

# Static
staticfiles/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db